<div class="sv" ng-class="[palette.class]">
  <div class="sv-header"
       ng-class="{'sv-header--with-menu': isSequenceViewerMenuOpen}">
    <img class="sv-header-icon" src="cyrus-icon.svg" alt="Sequence Viewer"
         ng-click="isSequenceViewerMenuOpen=true">
    <ul class="sv-header-menu"
        ng-show="poses.length > 0"
        ng-click="isSequenceViewerMenuOpen=false"
        ng-mousedown="$event.stopPropagation()">
      <li>
        <span>Color scheme</span>
        <span class="sv-arrow-right"></span>
        <ul class="sv-palettes">
          <li ng-repeat="p in palettes track by $index"
              ng-click="setPalette($index)">
            <span ng-style="{'visibility': p == palette ? 'visible' : 'hidden'}">&#x2713;</span>
            <span>{{p.name}}</span>
          </li>
        </ul>
      </li>
      <li ng-click="invertPicks()">
        Invert all
      </li>
      <li ng-click="showAllPoseRulers()">
        Show all rulers
      </li>
      <li ng-click="hideAllPoseRulers()">
        Hide all rulers
      </li>
      <li ng-click="$event.stopPropagation()">
        <span>Info</span>
        <span class="sv-arrow-right"></span>
        <div class="sv-info">
          <div>Pick single: click</div>
          <div>Pick multiple: click + drag</div>
          <div>Pick disjoint: ctrl + click</div>
          <div>Pick consecutive: shift + click</div>
          <div>Open row menu: right click</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="sv-scrollport">
    <div class="sv-columns">
      <span class="sv-column-number"
           ng-repeat="column in getColumns(poses) track by $index"
           ng-mousedown="onColumnMousedown($event, $index)">
        {{column}}
      </span>
    </div>
    <div class="sv-pose"
         ng-class="{'sv-pose--with-menu': poseMenus[poseId]}"
         ng-repeat="poseId in poses track by $index"
         ng-init="poseIndex=$index">
      <div class="sv-pose-header"
           ng-class="{'sv-with-ruler': isPoseRulerShowing(poseId)}">
        <div class="sv-pose-name"
             ng-class="{'picked': isPosePicked(poseId)}"
             ng-mousedown="onPoseMousedown($event, poseIndex)"
             cy-contextmenu="openPoseMenu($event, poseId)">
          {{displayNames[poseId]}}
        </div>
        <ul class="sv-pose-menu"
            ng-click="hidePoseMenu(poseId)"
            ng-mousedown="$event.stopPropagation()">
          <li ng-click="showPoseRuler(poseId)"
              ng-hide="isPoseRulerShowing(poseId)">
            Show ruler
          </li>
          <li ng-click="hidePoseRuler(poseId)"
              ng-show="isPoseRulerShowing(poseId)">
            Hide ruler
          </li>
          <li ng-click="invertPosePicks(poseIndex)">
            Invert {{displayNames[poseId]}}
          </li>
          <li ng-click="erasePosePicks(poseIndex)">
            Clear {{displayNames[poseId]}}
          </li>
          <li ng-click="onRemovePose({poseId: poseId})">
            Remove {{displayNames[poseId]}}
          </li>
        </ul>
      </div>
      <div class="sv-chain" ng-repeat="chain in chains[poseId] track by $index" ng-init="chainIndex=$index">
        <div class="sv-chain-name"
             ng-class="{'picked': isChainPicked(poseId, chain.name), 'sv-with-ruler': isPoseRulerShowing(poseId)}"
             ng-mousedown="onChainMousedown($event, poseIndex, chainIndex)">
          {{chain.name}}
        </div><!--
          ngRepeated elements seem not to put spaces between tags, which helps
     --><div class="sv-residue" ng-repeat="residue in chain.residues track by $index" ng-init="residueIndex=$index"
             ng-class="{
               'picked': isResiduePicked(poseId, chain.name, residue.position),
               'anchor': isResidueAnchor({
                 poseIndex: poseIndex,
                 chainIndex: chainIndex,
                 residueIndex: residueIndex
               }),
               'sv-hover': isResidueHover(poseId, chain.name, residue.position)
             }"
             ng-mousedown="onResidueMousedown($event, poseIndex, chainIndex, residueIndex)"
             ng-mouseenter="onResidueMouseenter($event, poseIndex, chainIndex, residueIndex)"
             ng-mouseleave="onResidueMouseleave($event)">
          <div class="sv-residue-position"
               ng-show="isPoseRulerShowing(poseId)">
            {{residue.position}}
          </div>
          <div class="sv-residue-code"
               ng-class="[residue.code]"
               ng-style="{'background': colors[poseId]}">
            {{residue.code}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
