<!DOCTYPE html>
<html ng-app="cyViewer">
<head lang="en">
  <script src="https://cdn.rawgit.com/lodash/lodash/3.0.1/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="pv.min.js"></script>
  <script src="index.js"></script>
  <script src="cyProteinViewer.directive.js"></script>
  <script src="cySequenceViewer.directive.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500" rel="stylesheet" type="text/css">
  <link href="index.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>Protein + Sequence Viewer</title>
</head>
<body ng-controller="cyViewerCtrl">

  <form
    class="pose-creator"
    ng-class="{'pose-creator--open': isPoseCreatorOpen}"
    ng-submit="createPose(newPose.pdb, newPose.name); isPoseCreatorOpen=false">
    <span class="pose-creator-close" ng-click="isPoseCreatorOpen=!isPoseCreatorOpen">&#215;</span>
    <div class="pose-creator-content">
      <input type="text" class="pose-creator-input" ng-model="newPose.pdb" placeholder="PDB ID" required>
      <input type="text" class="pose-creator-input" ng-model="newPose.name" placeholder="Name">
      <input type="submit" class="pose-creator-submit">
    </div>
  </form>

  <cy-protein-viewer
    poses="poses"
    picks="picks"
    frozen-picks="frozenPicks"
    fluid-picks="fluidPicks"
    pdb-data="pdbData"
    sequences="sequences"
    hover="hover"
    anchor="anchor">
  </cy-protein-viewer>

  <cy-sequence-viewer
    picks="picks"
    frozen-picks="frozenPicks"
    fluid-picks="fluidPicks"
    sequences="sequences"
    hover="hover"
    anchor="anchor">
  </cy-sequence-viewer>

</body>
</html>
