@import 'compass';
@import 'compass/reset';

$black: #222;//Material 87%
$gray-dark: #505050;//#767676;//Material 54%
$gray: #9f9f9f;//Material 38%
$gray-light: #dfdfdf;//Material 12%
$white: #fdfdfd;

body {
  @include user-select(none);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: $black;
}

/**
 * Using animation instead of transition because
 * filter(blur(0)) on an element was creating
 * unsightly black boxes when a `select` dropdown
 * inside the blurred element was opened. This way
 * the styles only stay on the element during the
 * animation, and should prevent the black boxes.
 */
.dimmed {
  @include animation(dim .27s ease 1 forwards);
}
@include keyframes(dim) {
  from {
    opacity: 1;
    @include filter(blur(0));
  }
  to {
    opacity: 0.1;
    @include filter(blur(2px));
  }
}

.protein-viewer {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sequence-viewer {
  z-index: 2;
  position: relative;
}
.pose-creator-container {
  z-index: 2;
  position: absolute;
  left: 16px;
  bottom: 16px;
}
.mode-selector {
  z-index: 2;
  position: fixed;
  right: 16px;
  bottom: 16px;

  color: $white;
  select {
    margin-left: 4px;
  }
}

@import '-webkit-scrollbar';
@import 'protein-viewer';
@import 'sequence-viewer';

$pose-creator-size: 40px;
$transition: .2s ease;
$transition-long: .4s ease;

$pose-creator-padding-top: 32px;
$pose-creator-padding-bottom: 16px;

$pose-creator-input-height: 24px;
$pose-creator-input-border-width: 2px;
$pose-creator-input-margin-bottom: 16px;
.pose-creator {
  position: relative;
  background: rgba($white, 0.8);
  overflow: hidden;

  width: $pose-creator-size;
  height: $pose-creator-size;
  border-radius: $pose-creator-size / 2;
  &.pose-creator--open {
    width: 180px;
    //need to get exact height for animation
    height: $pose-creator-padding-top + $pose-creator-padding-bottom + 2 * (
      $pose-creator-input-height +
      $pose-creator-input-border-width +
      $pose-creator-input-margin-bottom
    );
    border-radius: 2px;
  }
  @include transition(
    width $transition,
    height $transition,
    border-radius $transition
  );
}
.pose-creator-close {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: $gray-dark;
  cursor: pointer;

  width: $pose-creator-size;
  height: $pose-creator-size;
  line-height: $pose-creator-size;
  font-size: 28px;
  @include transform(rotate(135deg));
  .pose-creator--open & {
    width: $pose-creator-size * .8;
    height: $pose-creator-size * .8;
    line-height: $pose-creator-size * .8;
    font-size: 20px;
    @include transform(rotate(0deg));
  }
  @include transition(
    width $transition,
    height $transition,
    line-height $transition,
    font-size $transition-long,
    transform $transition-long
  );
}
.pose-creator-input {
  background: transparent;
  color: $gray-dark;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  padding: 0;
  height: $pose-creator-input-height;
  line-height: $pose-creator-input-height;
  border: 0;
  border-bottom: $pose-creator-input-border-width solid $gray;
  margin-bottom: $pose-creator-input-margin-bottom;
  width: 100%;
  @include input-placeholder {
    color: $gray;
    font-style: italic;
  }
  &:focus {
    outline: 0;
    border-bottom-color: $gray-dark;
  }
}
.pose-creator-content {
  display: none;
  padding: $pose-creator-padding-top 24px $pose-creator-padding-bottom;

  opacity: 0;
  @include transition(opacity .1s ease .1s);
  .pose-creator--open & {
    display: block;

    opacity: 1;
    @include transition(opacity .05s ease);
  }
}
.pose-creator-submit {
  //hide submit button without using 'display: none' or 'visibility: hidden'
  position: absolute;
  top: 1000%;
  right: 1000%;
}
