<!DOCTYPE html>
<html ng-app="cyViewer">
<head lang="en">
  <script src="https://cdn.rawgit.com/lodash/lodash/3.0.1/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="pv.min.js"></script>
  <script src="index.js"></script>
  <script src="cyContextmenu.directive.js"></script>
  <script src="cyMousedrag.directive.js"></script>
  <script src="cyProteinViewer.directive.js"></script>
  <script src="cySequenceViewer.directive.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500" rel="stylesheet" type="text/css">
  <link href="index.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>Protein + Sequence Viewer</title>
</head>
<body ng-controller="cyViewerCtrl">

  <div class="pose-creator-container" ng-class="{'dimmed': poses.length > 0 && pvIsMoving}">
    <form
      class="pose-creator"
      ng-class="{'pose-creator--open': isPoseCreatorOpen}"
      ng-submit="onAddPose(newPose.pdb, newPose.name); isPoseCreatorOpen=false">
      <span class="pose-creator-close" ng-click="isPoseCreatorOpen=!isPoseCreatorOpen">&#215;</span>
      <div class="pose-creator-content">
        <input type="text" class="pose-creator-input" ng-model="newPose.pdb" placeholder="PDB ID" required>
        <input type="text" class="pose-creator-input" ng-model="newPose.name" placeholder="{{ newPose.pdb || 'Name' }}">
        <input type="submit" class="pose-creator-submit">
      </div>
    </form>
  </div>

  <div class="mode-selector" ng-class="{'dimmed': pvIsMoving}" ng-show="poses.length > 0">
    Selection mode
    <select ng-model="selectionMode" ng-options="mode for mode in selectionModes"></select>
  </div>

  <div class="protein-viewer" cy-mousedrag="pvIsMoving">
    <cy-protein-viewer
      poses="poses"
      picks="picks"
      sequences="sequences"
      pdb-data="pdbData"
      colors="colors"
      color-schemes="colorSchemes"
      render-modes="renderModes"
      hover="hover"
      selection-mode="{{selectionMode}}"
      on-select-residue="onSelectResidue(event, poseIndex, chainIndex, residueIndex, pickResidues)"
      on-select-chain="onSelectChain(event, poseIndex, chainIndex, pickChains)"
      on-select-pose="onSelectPose(event, poseIndex, pickPoses)"
      on-unselect-all="onUnselectAll(event)"
      palettes="palettes">
    </cy-protein-viewer>
  </div>

  <div class="sequence-viewer" ng-class="{'dimmed': poses.length > 0 && pvIsMoving}">
    <cy-sequence-viewer
      poses="poses"
      on-remove-pose="onRemovePose(poseId)"
      picks="picks"
      sequences="sequences"
      display-names="displayNames"
      colors="colors"
      color-schemes="colorSchemes"
      render-modes="renderModes"
      hover="hover"
      is-residue-anchor="isResidueAnchor(poseIndex, chainIndex, residueIndex)"
      selection-mode="{{selectionMode}}"
      on-select-residue="onSelectResidue(event, poseIndex, chainIndex, residueIndex, pickResidues)"
      on-extend-selection="onExtendSelection(event, poseIndex, chainIndex, residueIndex, pickResidues)"
      on-select-chain="onSelectChain(event, poseIndex, chainIndex, pickChains)"
      on-select-pose="onSelectPose(event, poseIndex, pickPoses)"
      on-unselect-pose="onUnselectPose(event, poseIndex)"
      on-invert-pose="onInvertPose(event, poseIndex)"
      on-invert-all="onInvertAll(event)"
      palettes="palettes">
    </cy-sequence-viewer>
  </div>

</body>
</html>
