/* line 5, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, index.scss */
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #222;
}

/* line 2, _-webkit-scrollbar.scss */
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* line 5, _-webkit-scrollbar.scss */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* line 9, _-webkit-scrollbar.scss */
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 14, _-webkit-scrollbar.scss */
::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.5);
}

/* line 3, _palette.scss */
.palette-clustal .A {
  background: #ccff00 !important;
}
/* line 4, _palette.scss */
.palette-clustal .R {
  background: #1571f9 !important;
}
/* line 5, _palette.scss */
.palette-clustal .N {
  background: #cc00ff !important;
}
/* line 6, _palette.scss */
.palette-clustal .D {
  background: #ff0000 !important;
}
/* line 7, _palette.scss */
.palette-clustal .C {
  background: #ffff00 !important;
}
/* line 8, _palette.scss */
.palette-clustal .Q {
  background: #ff00cc !important;
}
/* line 9, _palette.scss */
.palette-clustal .E {
  background: #ff0066 !important;
}
/* line 10, _palette.scss */
.palette-clustal .G {
  background: #ff9900 !important;
}
/* line 11, _palette.scss */
.palette-clustal .H {
  background: #5298ff !important;
}
/* line 12, _palette.scss */
.palette-clustal .I {
  background: #66ff00 !important;
}
/* line 13, _palette.scss */
.palette-clustal .L {
  background: #33ff00 !important;
}
/* line 14, _palette.scss */
.palette-clustal .K {
  background: #a269f5 !important;
}
/* line 15, _palette.scss */
.palette-clustal .M {
  background: #00ff00 !important;
}
/* line 16, _palette.scss */
.palette-clustal .F {
  background: #00ff66 !important;
}
/* line 17, _palette.scss */
.palette-clustal .P {
  background: #ffcc00 !important;
}
/* line 18, _palette.scss */
.palette-clustal .S {
  background: #ff3300 !important;
}
/* line 19, _palette.scss */
.palette-clustal .T {
  background: #ff6600 !important;
}
/* line 20, _palette.scss */
.palette-clustal .W {
  background: #00ccff !important;
}
/* line 21, _palette.scss */
.palette-clustal .Y {
  background: #00ffcc !important;
}
/* line 22, _palette.scss */
.palette-clustal .V {
  background: #99ff00 !important;
}
/* line 23, _palette.scss */
.palette-clustal .B {
  background: #ffffff !important;
}
/* line 24, _palette.scss */
.palette-clustal .X {
  background: #ffffff !important;
}
/* line 25, _palette.scss */
.palette-clustal .Z {
  background: #ffffff !important;
}

/* line 28, _palette.scss */
.palette-hydrophobicity .A {
  background: #EF5350 !important;
}
/* line 29, _palette.scss */
.palette-hydrophobicity .B {
  background: #2196F3 !important;
}
/* line 30, _palette.scss */
.palette-hydrophobicity .C {
  background: #BA68C8 !important;
}
/* line 31, _palette.scss */
.palette-hydrophobicity .D {
  background: #2196F3 !important;
}
/* line 32, _palette.scss */
.palette-hydrophobicity .E {
  background: #2196F3 !important;
}
/* line 33, _palette.scss */
.palette-hydrophobicity .F {
  background: #EF5350 !important;
}
/* line 34, _palette.scss */
.palette-hydrophobicity .G {
  background: #BA68C8 !important;
}
/* line 35, _palette.scss */
.palette-hydrophobicity .H {
  background: #2196F3 !important;
}
/* line 36, _palette.scss */
.palette-hydrophobicity .I {
  background: #EF5350 !important;
}
/* line 37, _palette.scss */
.palette-hydrophobicity .K {
  background: #2196F3 !important;
}
/* line 38, _palette.scss */
.palette-hydrophobicity .L {
  background: #EF5350 !important;
}
/* line 39, _palette.scss */
.palette-hydrophobicity .M {
  background: #EF5350 !important;
}
/* line 40, _palette.scss */
.palette-hydrophobicity .N {
  background: #2196F3 !important;
}
/* line 41, _palette.scss */
.palette-hydrophobicity .P {
  background: #BA68C8 !important;
}
/* line 42, _palette.scss */
.palette-hydrophobicity .Q {
  background: #2196F3 !important;
}
/* line 43, _palette.scss */
.palette-hydrophobicity .R {
  background: #2196F3 !important;
}
/* line 44, _palette.scss */
.palette-hydrophobicity .S {
  background: #BA68C8 !important;
}
/* line 45, _palette.scss */
.palette-hydrophobicity .T {
  background: #BA68C8 !important;
}
/* line 46, _palette.scss */
.palette-hydrophobicity .V {
  background: #EF5350 !important;
}
/* line 47, _palette.scss */
.palette-hydrophobicity .W {
  background: #BA68C8 !important;
}
/* line 48, _palette.scss */
.palette-hydrophobicity .X {
  background: #BA68C8 !important;
}
/* line 49, _palette.scss */
.palette-hydrophobicity .Y {
  background: #BA68C8 !important;
}
/* line 50, _palette.scss */
.palette-hydrophobicity .Z {
  background: #2196F3 !important;
}

/* line 1, _protein-viewer.scss */
cy-protein-viewer {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 15, _sequence-viewer.scss */
.sv-column-number, .sv-residue {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  width: 16px;
}

/* line 23, _sequence-viewer.scss */
.sv-column-number, .sv-residue-position {
  display: inline-block;
  height: 8px;
  line-height: 8px;
  font-size: 8px;
  letter-spacing: -0.1em;
  color: #9f9f9f;
}

/* line 31, _sequence-viewer.scss */
.sv-header-menu, .sv-palettes, .sv-info, .sv-pose-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background: #fdfdfd;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 4px 0;
}
/* line 40, _sequence-viewer.scss */
.sv-header-menu > li, .sv-palettes > li, .sv-info > li, .sv-pose-menu > li {
  display: block;
  height: 28px;
  line-height: 28px;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 32px;
  font-size: 14px;
  white-space: nowrap;
  position: relative;
}
/* line 53, _sequence-viewer.scss */
.sv-header-menu > li:hover, .sv-palettes > li:hover, .sv-info > li:hover, .sv-pose-menu > li:hover {
  background: #dfdfdf;
}

/* line 59, _sequence-viewer.scss */
.sv-with-ruler {
  margin-top: 17px;
}

/* line 65, _sequence-viewer.scss */
.sv {
  z-index: 3;
  position: relative;
  background: rgba(253, 253, 253, 0.8);
  padding: 16px;
  min-height: 4px;
}

/* line 72, _sequence-viewer.scss */
.sv-scrollport {
  overflow-x: auto;
  overflow-y: visible;
  margin-left: 106px;
}

/* line 80, _sequence-viewer.scss */
.sv-header {
  z-index: 4;
  position: absolute;
  top: 8px;
  left: 8px;
}

/* line 86, _sequence-viewer.scss */
.sv-header-icon {
  cursor: pointer;
  width: 20px;
}

/* line 92, _sequence-viewer.scss */
.sv-header--with-menu .sv-header-menu {
  display: block;
}

/* line 98, _sequence-viewer.scss */
.sv-header-menu > li:hover .sv-palettes {
  display: block;
}

/* line 102, _sequence-viewer.scss */
.sv-info {
  padding: 8px;
  line-height: 1.5;
  cursor: auto;
}
/* line 104, _sequence-viewer.scss */
.sv-header-menu > li:hover .sv-info {
  display: block;
}

/* line 111, _sequence-viewer.scss */
.sv-arrow-right {
  position: absolute;
  right: 8px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #9f9f9f;
}

/* line 124, _sequence-viewer.scss */
.sv-columns {
  margin-left: 32px;
  white-space: nowrap;
}

/* line 128, _sequence-viewer.scss */
.sv-column-number {
  height: 16px;
  line-height: 16px;
  padding-bottom: 4px;
}

/* line 138, _sequence-viewer.scss */
.sv-pose {
  white-space: nowrap;
}

/* line 141, _sequence-viewer.scss */
.sv-pose-header {
  z-index: 3;
  position: absolute;
  left: 16px;
  width: 90px;
}

/* line 147, _sequence-viewer.scss */
.sv-pose-name {
  float: right;
  max-width: 90px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  color: #9f9f9f;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 157, _sequence-viewer.scss */
.sv-pose-name.picked {
  color: #222;
}

/* line 163, _sequence-viewer.scss */
.sv-pose--with-menu .sv-pose-menu {
  display: block;
}

/* line 170, _sequence-viewer.scss */
.sv-chain {
  display: inline-block;
}
/* line 173, _sequence-viewer.scss */
.sv-pose:last-child .sv-chain {
  border-bottom: 2px solid transparent;
}
/* line 176, _sequence-viewer.scss */
.sv-chain:last-child {
  border-right: 2px solid transparent;
}

/* line 180, _sequence-viewer.scss */
.sv-chain-name {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  width: 32px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  font-size: 9px;
  color: #fdfdfd;
  position: relative;
}
/* line 191, _sequence-viewer.scss */
.sv-chain-name:before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 8.8px;
  top: 2.8px;
  height: 14.4px;
  width: 14.4px;
  border-radius: 50%;
  background: #9f9f9f;
}
/* line 202, _sequence-viewer.scss */
.sv-chain-name.picked {
  font-weight: 500;
}
/* line 204, _sequence-viewer.scss */
.sv-chain-name.picked:before {
  background: #505050;
}

/* line 215, _sequence-viewer.scss */
.sv-residue-code {
  height: 20px;
  line-height: 20px;
  font-family: 'Roboto Mono';
  box-shadow: 0 0 0 0px transparent;
  border-radius: 0;
  z-index: 1;
  position: relative;
  -moz-transition: box-shadow 0.2s linear, border-radius 0.2s linear, z-index 0.2s linear;
  -o-transition: box-shadow 0.2s linear, border-radius 0.2s linear, z-index 0.2s linear;
  -webkit-transition: box-shadow 0.2s linear, border-radius 0.2s linear, z-index 0.2s linear;
  transition: box-shadow 0.2s linear, border-radius 0.2s linear, z-index 0.2s linear;
}
/* line 228, _sequence-viewer.scss */
.sv-hover:not(.picked) .sv-residue-code {
  box-shadow: 0 0 0 2px #222;
  border-radius: 1px;
  z-index: 2;
}
/* line 233, _sequence-viewer.scss */
.sv-residue.picked .sv-residue-code {
  color: #fdfdfd;
  background: #505050 !important;
}
/* line 237, _sequence-viewer.scss */
.sv-residue.anchor .sv-residue-code {
  font-weight: 500;
  background: #222 !important;
}

/* line 242, _sequence-viewer.scss */
.sv-residue-position {
  padding-top: 8px;
  padding-bottom: 1px;
}
/* line 246, _sequence-viewer.scss */
.sv-residue.picked .sv-residue-position {
  color: #222;
  font-weight: 500;
}

/* line 27, index.scss */
.pose-creator {
  z-index: 2;
  position: absolute;
  left: 16px;
  bottom: 16px;
  background: rgba(253, 253, 253, 0.8);
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transition: width 0.2s ease, height 0.2s ease, border-radius 0.2s ease;
}
/* line 38, index.scss */
.pose-creator.pose-creator--open {
  width: 180px;
  height: 132px;
  border-radius: 2px;
}

/* line 45, index.scss */
.pose-creator-close {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: #505050;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 28px;
  transform: rotate(135deg);
  transition: width 0.2s ease, height 0.2s ease, line-height 0.2s ease, font-size 0.4s ease, transform 0.4s ease;
}
/* line 59, index.scss */
.pose-creator--open .pose-creator-close {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  transform: rotate(0deg);
}

/* line 70, index.scss */
.pose-creator-input {
  background: transparent;
  color: #505050;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  border: 0;
  border-bottom: 2px solid #9f9f9f;
  margin-bottom: 16px;
  padding: 4px 0;
  width: 100%;
}
/* line 61, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.pose-creator-input:-moz-placeholder {
  color: #9f9f9f;
  font-style: italic;
}
/* line 64, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.pose-creator-input::-moz-placeholder {
  color: #9f9f9f;
  font-style: italic;
}
/* line 67, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.pose-creator-input:-ms-input-placeholder {
  color: #9f9f9f;
  font-style: italic;
}
/* line 56, ../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.pose-creator-input::-webkit-input-placeholder {
  color: #9f9f9f;
  font-style: italic;
}
/* line 84, index.scss */
.pose-creator-input:focus {
  outline: 0;
  border-bottom-color: #505050;
}

/* line 89, index.scss */
.pose-creator-content {
  padding: 32px 24px;
  opacity: 0;
  transition: opacity .1s ease .1s;
}
/* line 94, index.scss */
.pose-creator--open .pose-creator-content {
  opacity: 1;
  transition: opacity .05s ease;
}

/* line 99, index.scss */
.pose-creator-submit {
  display: none;
}
